@import url("../css/variables.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #071917;
    color: white;
}
/********** header ******************/
.header {
    /* background: orange; */
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    
}
.div_logo {
    /* background: blue; */
    /* padding: 15px; */
}
.div_menu {
    /* background: green; */
    /* padding: 15px; */
}
.ul_menu {
    /* background: violet; */
    /* padding: 15px; */
    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: var(--font-color-1);
}
.ul_menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";
}
.ul_menu li a{
    color: var(--font-color-1);
    text-decoration: none;
}

/********** main ******************/
.main {
    /* background: red; */
    /* padding: 20px; */
}
.section_home {
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2) 100%), var(--banner-1);    background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135svh;
    /* padding: 20px; */
}
.article_home {
    /* background: green; */
    /* padding: 20px; */
    width: 626px;
    height: 360px;
    position: relative;
    left: 21svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-1);
    
}
.article_home span{
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}
.article_home h1{
    font-size: 75px;
    font-family: "Montserrat-SemiBold";

}
.article_home p{
    /* background: red; */
    width: 340px;
    font-family: "Montserrat-Medium";
}

/******* section menu ****/
.user {
    position: absolute;
    top: 40px; 
    right: 20px; 
    display: flex;
    gap: 20px;

}

.section_icon{
    background: #071917;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 217px 44px 218px;
}

.section_icon img{
    /*background: red;*/
}
.linea_home{
    position: flex;
    justify-content: center;
    gap: 20px;
    top: 115px;
    margin: 15px;
    width: calc(107% - 118px);
    height: 2px;
    background-color: white;
}

.section_user{
    background: #071917;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 217px 44px 218px;
}
/***** Veersion movil******/
@media (max-width: 960px){
    .header{

        padding: 15px;
    }
    .ul_menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section_home{
        display: flex;
        justify-content: space-around;
    }
    .article_home{
        left: 0;
    }
    .article__home span{
        /* font-size: 1px; */
    }
    .article_home h1{
        font-size: 70px;
    }
    .article_home p{

    }
    .section_icon{
        justify-content: space-around;
    }
    .section_icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}
/* @media (max-width: 576px) { */
    .header_blog {
        display: flex;
        align-items: center;
        justify-content: center;   
        padding: 0px 20px;
    }
    .div_logo{
        height: 50px;
    }
    .div_menu{
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }
    .ul_menu{
        display: flex;
        gap: 100px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .ul_menu li {
        margin: 0;
    }
    .ul_menu a{
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
.menu_2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    }

    .boton {
        background-color: #ffffff;
        color: #1e5128;
        border: none;
        width: 145px;
        height: 44px;
        border-radius: 24px;
        cursor: pointer;
        font-family: "Montserrat-Regular";
        font-size: 20px;
    }
    .div1 {
        flex-grow: 1; 
        display: flex;
        justify-content: flex-end; 
    }
    .submen {
        display: flex;
        gap: 20px; 
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: "Montserrat-Regular";

    }
    .submen li {
        margin: 0;
    }
    .submen a {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
    .article_home h1{
        font-size: 60px;
    }
    .section_home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
}

.section_urban{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.img_container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 23px px 23px;
    box-sizing: border-box;
}
.img{
    width: calc(100% - 46px); 
    height: calc(100% - 88px); 
    object-fit: cover; 
    border-radius: 15px; 
}
.texto_refe{
    position: absolute;
    bottom: 78px;
    left: 100px;
    font-size: 3vw;
    font-family: "Montserrat-SemiBold";
    padding: 10px;
    word-wrap: break-word;
    max-width: calc(100% - 20px);
}
.section_urban img{
    width: calc(100% - 46px);
    height: calc(100% - 46px);
    object-fit: cover;
    border-radius: 40px;

}
@media (max-width: 768px) {
    .texto_refe {
        font-size: 5vw; 
        bottom: 5%; 
        left: 5%; 
    }
}

.header_blog{
    background: violet;
}

.linea {
    position: absolute;
    top: 105px;
    margin: 0 auto;
    width: calc(100% - 118px);
    height: 2px;
    background-color: white;

  }

.boton{
    padding: 10px 20px;
    background: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    
}
.submen{
    list-style-type: none;
    display: flex;
    gap: 50px;
    padding: 0;

}
.submen li{
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.submen li a{
    text-decoration: none;
    color: inherit;
}
.div1{
   /* background: red;*/
}
.menu_2{
    /* background: yellow;*/
    padding: 20px;
}
.imagen{
    position: relative;
    width: 1027px;
    height: 606px;
    margin-left: 26px;
  /*  background-color: blue;*/
    /*padding: 20px;*/
}
.referencia{
    justify-content: center; 
    position: absolute;
    left: 70%;
    top: 12%;
    background: rgba(53, 119, 64, 0.84);
    width: 672px;  
    height: 460px;  
    font-size: 16px;
    border-radius: 30px;
}
.referencia p{
    padding: 33px;
    font-family: "Montserrat-Light";
    font-size: 28px;
    line-height: auto;
}
.referencia h3{
    font-family: "Montserrat-Regular";
    font-size: 28px;
    padding: 28px;
}
.referencia button{
    position: relative;
    background-color: #ffffff;
    color: #1e5128;
    border: none;
    width: 145px;
    height: 44px;
    border-radius: 24px;
    cursor: pointer;
    font-family: "Montserrat-Regular";
    font-size: 20px;
    margin-left: 238px;
    margin-top: -55px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(447px, 1fr)); 
    gap: 27px 25px; 
    width: 100%;
    max-width: 1394px;
    margin-top: 151px;
    margin-left: 26px;
    justify-content: center; 
    

.card {
    background-color: #1e5128;
    padding: 16px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 447px;
    height: 593px;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.card h3 {
    font-family: "Montserrat-SemiBold";
    font-size: 26px;
    margin: 20px 0px;
}
.card p {
    font-family: "Montserrat-Regular";
    text-align: justify;
    font-size: 20px;
    margin: 40px 0px;
}



button {
    background-color: #ffffff;
    color: #1e5128;
    border: none;
    width: 145px;
    height: 44px;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 60px;
    font-family: "Montserrat-Regular";
    font-size: 20px;
}

button:hover {
    background-color: #d4d4d4;
}

