<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Blog</title>
</head>

<body>
    <header class="header_blog"></header>
        <div class="div_log">
            <img src="../storage/img/photo.png">
        </div> 
        <div class="div_menu">
            <ul class="ul_menu">
                <li><a href="#_my_work">Blog</a></li>
                <li><a href="#my_about">About</a></li>
                <li><a href="views/blog.html" target="_blank">Contact</a></li>
            </ul>
        </div>
    <main>
    <section class="container">
        <section class="user">
            <img src="../storage/img/Vector.png">
            <img src="../storage/img/usuario.png">
        </section>
        
        <section class="linea_home"></section>
        
        <section class="menu_2">
            <button class="boton">Latest Blog</button>
            <section class="div1">
                <ul class="submen">
                    <li><a href="">Urban Planning</a></li>
                    <li><a href="">Graphics Design</a></li>
                    <li><a href="">UX/UI Design</a></li>
                    <li><a href="">Technology</a></li>
                </ul>
            </section>
        </section>
    </section>
        <section class="imagen">
            <img src="../storage/img/img0.png">
            <div class="referencia">
                <p>Urban Planning</p>
                <h3>Lörem ipsum europlande krohiskap panstik, förväntis.  </h3>
                <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt. </p>
                <button>Read More</button>
            </div>

        </section>
        <div class="grid-container">
            <div class="card">
                <img src="../storage/img/img1.png">
                <h3>Lorem ipsum patt karirenyst</h3>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.</p>
                <button>Read More</button>
            </div>
            <div class="card">
                <img src="../storage/img/img2.png">
                <h3>Lorem ipsum patt karirenyst</h3>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.</p>
                <button>Read More</button>
            </div>
            <div class="card">
                <img src="../storage/img/img3.png">
                <h3>Lorem ipsum patt karirenyst</h3>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.</p>
                <button>Read More</button>
            </div>
            <div class="card">
                <img src="../storage/img/img4.png">
                <h3>Lorem ipsum patt karirenyst</h3>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.</p>
                <button>Read More</button>
            </div>
            <div class="card">
                <img src="../storage/img/img5.png">
                <h3>Lorem ipsum patt karirenyst</h3>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </div>
            <div class="card">
                <img src="../storage/img/img6.png">
                <h3>Lorem ipsum patt karirenyst</h3>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </div>
        </div>
    </main>

</body>
</html>